Package: linux-image-5.15.67-cmsc421-project0-jghorml1+
Source: linux-upstream
Version: 5.15.67-cmsc421-project0-jghorml1+-1
Architecture: amd64
Maintainer: jghorml1 <jghorml1@Cmsc421.myguest.virtualbox.org>
Installed-Size: 22191
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel, version 5.15.67-cmsc421-project0-jghorml1+
 This package contains the Linux kernel, modules and corresponding other
 files, version: 5.15.67-cmsc421-project0-jghorml1+.
